In [1]:
import pandas as pd

In [2]:
# dataset B is TIDY
data_b = pd.read_csv("data_lecture_05_b.csv")
print(data_b)

       country  year   cases  population
0  Afghanistan  1999     745    19987071
1  Afghanistan  2000    2666    20595360
2       Brazil  1999   37737   172006362
3       Brazil  2000   80488   174504898
4        China  1999  212258  1272915272
5        China  2000  213766  1280428583

In [3]:
# TIDYING dataset A
# PROBLEM: one observation is stored in multiple rows
data_a = pd.read_csv("data_lecture_05_a.csv")
print(data_a)

        country  year        type       count
0   Afghanistan  1999       cases         745
1   Afghanistan  1999  population    19987071
2   Afghanistan  2000       cases        2666
3   Afghanistan  2000  population    20595360
4        Brazil  1999       cases       37737
5        Brazil  1999  population   172006362
6        Brazil  2000       cases       80488
7        Brazil  2000  population   174504898
8         China  1999       cases      212258
9         China  1999  population  1272915272
10        China  2000       cases      213766
11        China  2000  population  1280428583

In [4]:
# reshape (pivot) dataset A from long format to wide format
data_a_tidy = pd.pivot_table(data_a, index = ['country', 'year'], 
                       columns = 'type', values = 'count').reset_index()
print(data_a_tidy)

type      country  year   cases  population
0     Afghanistan  1999     745    19987071
1     Afghanistan  2000    2666    20595360
2          Brazil  1999   37737   172006362
3          Brazil  2000   80488   174504898
4           China  1999  212258  1272915272
5           China  2000  213766  1280428583

In [5]:
# TIDYING dataset C
# PROBLEM: multiple variables ('cases', 'population') are stored in one column ('rate')
data_c = pd.read_csv("data_lecture_05_c.csv")
print(data_c)

       country  year               rate
0  Afghanistan  1999       745/19987071
1  Afghanistan  2000      2666/20595360
2       Brazil  1999    37737/172006362
3       Brazil  2000    80488/174504898
4        China  1999  212258/1272915272
5        China  2000  213766/1280428583

In [6]:
# split 'rate' into two columns ('cases', 'population')
data_c_split = data_c['rate'].str.split('/', expand = True)
data_c_split.columns = ['cases', 'population']
print(data_c_split)

    cases  population
0     745    19987071
1    2666    20595360
2   37737   172006362
3   80488   174504898
4  212258  1272915272
5  213766  1280428583

In [7]:
# concatenate 'country', 'year', 'cases', and 'population'
data_c_tidy = pd.concat([data_c[['country', 'year']], data_c_split], axis = 1)
print(data_c_tidy)

       country  year   cases  population
0  Afghanistan  1999     745    19987071
1  Afghanistan  2000    2666    20595360
2       Brazil  1999   37737   172006362
3       Brazil  2000   80488   174504898
4        China  1999  212258  1272915272
5        China  2000  213766  1280428583

In [8]:
# TIDYING dataset D
# PROBLEM 1: column headers ('1999', '2000') are values, not variable names
# PROBLEM 2: a single observational unit is stored in multiple tables
data_d1 = pd.read_csv("data_lecture_05_d1.csv")
print(data_d1)
data_d2 = pd.read_csv("data_lecture_05_d2.csv")
print(data_d2)

       country    1999    2000
0  Afghanistan     745    2666
1       Brazil   37737   80488
2        China  212258  213766
       country        1999        2000
0  Afghanistan    19987071    20595360
1       Brazil   172006362   174504898
2        China  1272915272  1280428583

In [9]:
# reshape (melt) dataset D1 from wide format to long format
data_d1_tidy = pd.melt(data_d1, id_vars = ['country'], 
                       var_name = 'year', value_name = 'cases')
print(data_d1_tidy)

       country  year   cases
0  Afghanistan  1999     745
1       Brazil  1999   37737
2        China  1999  212258
3  Afghanistan  2000    2666
4       Brazil  2000   80488
5        China  2000  213766

In [10]:
# reshape (melt) dataset D2 from wide format to long format
data_d2_tidy = pd.melt(data_d2, id_vars = ['country'], 
                       var_name = 'year', value_name = 'population')
print(data_d2_tidy)

       country  year  population
0  Afghanistan  1999    19987071
1       Brazil  1999   172006362
2        China  1999  1272915272
3  Afghanistan  2000    20595360
4       Brazil  2000   174504898
5        China  2000  1280428583

In [11]:
# merge dataset D1 and dataset D2
data_d_tidy = pd.merge(data_d1_tidy, data_d2_tidy, how = 'outer',
                       on = ['country', 'year'], sort = True)
print(data_d_tidy)

       country  year   cases  population
0  Afghanistan  1999     745    19987071
1  Afghanistan  2000    2666    20595360
2       Brazil  1999   37737   172006362
3       Brazil  2000   80488   174504898
4        China  1999  212258  1272915272
5        China  2000  213766  1280428583